@import "tailwindcss";

:root {
  --background: #09090b; /* zinc-950 hex code as a fallback variable */
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

/* Optional: Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* zinc-700 */
  border-radius: 9999px;
}